*{
    
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    font-family:Arial;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Images/1540016.webp);
    
}
.flex-container{
    width: 100%;
    height: auto;
}
.flex-box{
    width: 400px;
    height: 400px;
    background-image: url(Images/th.jpeg);
    border-radius: 10%;
    justify-content: center;
    align-content: center;


}



